.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    font-size: 24px; /* Adjust the size as per your requirement */
}

h2 {
    font-size: 20px; /* Adjust the size as per your requirement */
}

.controls {
    margin-top: 20px;
}

#chart {
    margin-top: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, sans-serif;
    font-size: 11px;
}

