.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
}


h1 {
    font-size: 24px; /* Adjust the size as per your requirement */
}

h2 {
    font-size: 20px; /* Adjust the size as per your requirement */
}

.controls {
    margin-top: 20px;
}

#chart {
    margin-top: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.x.axis {
    font-family: Arial, sans-serif;
    font-size: 12px; /* Adjust the font size as needed */
    fill: none; /* This might not apply to axis elements, but it's here for consistency */
    stroke: #000; /* Color of the axis lines */
    shape-rendering: crispEdges; /* Ensure crisp rendering of edges */
}

.x.axis text {
    fill: #000; /* Color of the axis labels */
}

